@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

body {
    font-family: 'Hind' !important;

}

#but_Login
{
height: 30;
background-color: #71eeb8;
margin-left: 80px;
}

.newsStyle{
    width: 150px;
    -webkit-box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.25);
 -moz-box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.25);
 box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.25);
    padding: 5px;
    
}


.article-card{
    padding: 20px;
    margin-top: 24px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: 25%;
    margin-bottom: 24px;

}

.article-header {
    padding-top: 16px; 

}


.back-button {
    float: right;
    padding-top: 20px;
}

.centerLogin{

position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle; 
}

.centerBut{
  height: 20px;
  width: 100px;
  margin-right: 80px;
}

.logoSize{
    height: 200px;
}




#topNews{
    /* margin: 0 auto;
    justify-content: center; */
    position:relative;
    margin:0 auto;
    clear:left;
    height:auto;
    z-index: 0;
    text-align:center;
   
}

#butNews{
    font-size: 20px;
    color: black;
    background-color: #71eeb8;
    display: inline-block;
    padding: 10px;
}


.btn-cust{
    background-color: #F5F5F5;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: #71eeb8;
    margin-top: 10px; 
}

#butNewsUS{
    background-color: #71eeb8;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin-top: 10px; 

}


#butNewsUS:hover {

    background-color: #71eeb8;
}


#butNewsWorld{
    background-color: #F5F5F5;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: #71eeb8;
    margin-top: 10px; 


}

#butNewsWorld:hover {

    background-color: #71eeb8;
}





.btn-cust:hover {

    background-color: #71eeb8;
}

#page_1 {
    background-color: #71eeb8;
}

.btn-nav {
    background-color: #F5F5F5;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  
}

.btn-nav:hover {
    background-color: #71eeb8;


}

.page-item {
    padding: 10px;
}

#pageScroll{
    justify-content: center;
}

#pageNum{
    border-color: black;
    color: black;
    background-color: #71eeb8;
}
